:root {
    --font-main: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --transition-speed: 0.6s;
    --text-color: #ffffff; /* 图片中文字是白色的 */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-main);
    overflow: hidden; /* 关键：禁止由于内容过多产生的默认滚动条 */
    color: var(--text-color);
    transition: background-color var(--transition-speed) ease-in-out;
}

a { text-decoration: none; color: inherit; }