:root {
    --font-main: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --transition-speed: 0.6s;
    --text-color: #ffffff; /* 图片中文字是白色的 */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    --font-serif: "OptimaRoman", serif;
    --font-sans: "OptimaRoman", sans-serif;
    font-family: var(--font-sans), Arial, sans-serif;
    color: var(--text-color);
    transition: background-color var(--transition-speed) ease-in-out;
}

a { text-decoration: none; color: inherit; }